Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-OAuthlib
gunicorn
SQLAlchemy
psycopg2-binary
python-dotenv
cloudinary
pymongo
bcrypt
Authlib
requests
python-socketio
simple-websocket
redis
firebase_admin
openai
Flask-SocketIO
pyotp
PyMuPDF
sendgrid
