Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-OAuthlib
gunicorn
SQLAlchemy
psycopg2-binary
python-dotenv
cloudinary
pymongo
bcrypt
Authlib
requests
python-socketio
simple-websocket
torch
transformers
sentence-transformers
spacy
PyMuPDF
langchain
google-generativeai